
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #9fa0ab;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #21222C;
  color: white;
  padding: 1rem 2rem;
}

nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}


main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}


.card {
  background: white;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(201, 23, 23, 0.15);
}


.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
  color: #4F46E5; /* Roxo */
}


.card h2 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  color: #333;
}


input {
  margin: 0.25rem 0;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  background:#21222C; 
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  transition: background 0.2s ease;
}

button:hover {
  background: #3730A3; 
}


.result {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #333;
}


@media (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  nav a {
    margin: 0.5rem 0 0 0;
  }
}
